<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3></h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>People say Im creative and I also know my capabilities , what Im good at I put my work first and always put my client first so the job will be done and ontime.</p>
    <a class="project-link" href = "http://salehudeen.github.io/afroasia.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> ONE OF MY FIRST PROJECTS </h3>
    <ul>
      <li> DEQO STORES</li>
    </ul>
    <p>This was one of my first projects and Im proud of it take a look and may it make you want me to work on your idea.</p>
    <a class="project-link" href="https://salehudeen.github.io/backup/">Check it out</a>
  </div>
</div>
